@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>ON/OFF all light</h2>
    <button class="btn btn-success" onclick="LightOnOff(null, true)">ON</button>
    <button class="btn btn-danger" onclick="LightOnOff(null, false)">OFF</button>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Light 1</h2>
        <button class="btn btn-success" onclick="LightOnOff('1', true)">ON</button>
        <button class="btn btn-danger"  onclick="LightOnOff('1', false)">OFF</button>
    </div>
    <div class="col-md-4">
        <h2>Light 2</h2>
        <button class="btn btn-success" onclick="LightOnOff('2', true)">ON</button>
        <button class="btn btn-danger" onclick="LightOnOff('2', false)">OFF</button>
    </div>
    <div class="col-md-4">
        <h2>Light 3</h2>
        <button class="btn btn-success" onclick="LightOnOff('3', true)">ON</button>
        <button class="btn btn-danger" onclick="LightOnOff('3', false)">OFF</button>
    </div>
</div>
@section Scripts {
    <script>
        function LightOnOff(id, isOn) {
            $.ajax({
                type: "POST",
                url: "/Home/LightOnOff",
                data: { id: id, isOn: isOn },
                success: function (res) {

                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
        }
    </script>
}