<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
<connectionStrings>
  <add name="IOTDb" connectionString="Data Source=DESKTOP-T8RPQE8;Initial Catalog=IOTDB;Integrated Security=False;User ID=sa;Password=brpatel" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>